#root {
  --main-color-from: #fdba74;     /* from-orange-300 */
  --main-color-to: #f97316;       /* to-orange-500 */
  --main-color-hover-from: #ea580c; /* from-orange-600 */
  --main-color-hover-to: #c2410c;
}
.bg_button {
  background-image: linear-gradient(to bottom, var(--main-color-from), var(--main-color-to));
  color: white;
  font-weight: bold;

  border-radius: 9999px; /* tương đương rounded-full */
  transition: background-image 0.3s ease-in-out;
}
.swiper-wrapper {
  transition-timing-function: cubic-bezier(0.25, 0.8, 0.25, 1) !important;
}

.bg_button:hover {
  background-image: linear-gradient(to bottom, var(--main-color-hover-from), var(--main-color-hover-to));
}
.font-sale{

font-family: 'Arima Madurai';
font-style: normal;
font-weight: 500;
/* identical to box height, or 125% */
text-align: center;
/* dd/500 */
-webkit-background-clip: text;
-webkit-text-fill-color: transparent;
background-clip: text;
/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;

}
/* Gói khám thai tổng quát */
.font-roboto{
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
*{

  font-style: normal;
}/* Dịch vụ thai sản trọn gói */

.scrollbar-custom::-webkit-scrollbar {
  width: 12px;               /* Độ rộng của scrollbar dọc */
  height: 12px;              /* Độ cao của scrollbar ngang (nếu có) */
}

.scrollbar-custom::-webkit-scrollbar-track {
  background: #f1f1f1;       /* Màu nền track */
  border-radius: 6px;        /* Bo góc track */
}

.scrollbar-custom::-webkit-scrollbar-thumb {
  background: #888;          /* Màu thanh cuộn */
  border-radius: 6px;
  border: 3px solid transparent; /* "padding" cho thanh cuộn */
  background-clip: content-box;
}

.scrollbar-custom::-webkit-scrollbar-thumb:hover {
  background: #555;
}